
choice
  prompt "Default recipe loader"
  default BBQUE_RLOADER_DEFAULT_RXML
  config BBQUE_RLOADER_DEFAULT_XML
    bool "XML"
    select BBQUE_RLOADER_XML
  config BBQUE_RLOADER_DEFAULT_RXML
    bool "RXML"
    select BBQUE_RLOADER_RXML
##NP

endchoice

source barbeque/plugins/rloader/xml/Kconfig
source barbeque/plugins/rloader/rxml/Kconfig
