config BBQUE_SCHEDPOL_PERDETEMP
  bool "Perdetemp"
  select BBQUE_RTLIB_CGROUPS_SUPPORT
  select BBQUE_PM
  select BBQUE_PM_CPU
  default n
  ---help---
  Multi-binding domain resource allocation policy, featuring recipe-less AWM
  creation and online characterization through performance counters and
  goal gap assertion. Binding is chosen taking into account PERformance,
  DEgradation and TEMPerature.
