config BBQUE_SCHEDPOL_RANDOM
  bool "Random"
  default n
  ---help---
  Single binding domain (e.g. single multi-core CPU) resource allocation
  policy, featuring a random choice of AWM and resource binding.
