config BBQUE_PM
  bool "Enable Power Management support"
  default n
  ---help---
  Build the BarbequeRTRM with support for Power Management (PM).
  When compiled with this option turned on, all the PM management
  facilities could be selectively enabled or disabled. Indeed, each
  module could provide PM related supports, e.g. the optimization
  policy could optimize for power budgeting or the GPU could expose
  a power and thermal monitor.

  If unsure say no, this will disable all the PM related features.

config  BBQUE_PM_BATTERY
  bool "Battery management"
  depends on BBQUE_PM
  default n
  ---help---
  Enable the interface with the system battery, if available.

config BBQUE_WM
  bool "Enable periodic Power Monitoring"
  depends on BBQUE_PM
  default y
  ---help---
  Specify the default value in milliseconds of a period of power monitoring.

config  BBQUE_PM_CPU
  bool "CPU(s) Power and Thermal monitoring"
  depends on BBQUE_PM
  default n
  ---help---
  Enable the support for run-time monitoring of the CPU(s) power and thermal status.

config  BBQUE_PM_AMD
  bool "AMD GPU(s) Power and Thermal monitoring"
  depends on BBQUE_PM
  depends on BBQUE_OPENCL
  depends on !TARGET_LINUX_ARM
  default n
  ---help---
  Enable the support for run-time monitoring of the AMD GPU(s) power and thermal status.

config  BBQUE_PM_GPU_ARM_MALI
  bool "ARM Mali GPU Power and Thermal monitoring"
  depends on BBQUE_PM
  depends on BBQUE_OPENCL
  depends on TARGET_LINUX_ARM
  default n
  ---help---
  Enable the support for run-time monitoring of the GPU ARM Mali series.

