config BBQUE_PM
  bool "Enable Power Management"
  default n
  ---help---
  Build the BarbequeRTRM with support for Power Management (PM).
  When compiled with this option turned on, all the PM management
  facilities could be selectively enabled or disabled. Indeed, each
  module could provide PM related supports, e.g. the optimization
  policy could optimize for power budgeting or the GPU could expose
  a power and thermal monitor.

  If unsure say no, this will disable all the PM related features.


config BBQUE_PM_NOACPI
  bool "NO ACPI Interface"
  depends on BBQUE_PM
  default n
   ---help---
  Avoid using the ACPI interfaces. Probably required since kernel 4.x versions.


config  BBQUE_PM_BATTERY
  bool "Battery Management"
  depends on BBQUE_PM
  default n
  ---help---
  Enable the interface with the system battery, if available.

config BBQUE_WM
  bool "Periodic Monitoring"
  depends on BBQUE_PM
  default n
  ---help---
  Enable the support for run-time monitoring of the system, providing data
  about thermal and power.

config  BBQUE_PM_CPU
  bool "CPU(s) Power Management"
  depends on BBQUE_PM
  default n
  ---help---
  Enable the support for the management of CPU(s) from the power-thermal point
  of view.


config  BBQUE_PM_NVIDIA
  bool "NVIDIA GPU(s) Power Management"
  depends on BBQUE_PM
  depends on BBQUE_OPENCL
  depends on !TARGET_LINUX_ARM
  default n
  ---help---
  Enable the support for the management of NVIDIA GPU(s) from the power-thermal
  point of view.

config  BBQUE_PM_AMD
  bool "AMD GPU(s) Power Management"
  depends on BBQUE_PM
  depends on BBQUE_OPENCL
  depends on !TARGET_LINUX_ARM
  default n
  ---help---
  Enable the support for the management of AMD GPU(s) from the power-thermal
  point of view.

config  BBQUE_PM_GPU_ARM_MALI
  bool "ARM Mali GPU Power Management"
  depends on BBQUE_PM
  depends on BBQUE_OPENCL
  depends on TARGET_LINUX_ARM
  default n
  ---help---
  Enable the support for the management of ARM Mali GPU(s) from the
  power-thermal point of view.

config  BBQUE_PM_MANGO
  bool "MANGO Platform Power Management"
  depends on BBQUE_PM
  depends on TARGET_LINUX_MANGO
  default n
  ---help---
  Enable the support for the management of a MANGO platform from the power
  management point of view.
