
choice
  prompt "Default scheduling policy"
  config BBQUE_SCHEDPOL_DEFAULT_YAMS
    depends on BBQUE_SCHEDPOL_YAMS
    bool "YaMS"
  config BBQUE_SCHEDPOL_DEFAULT_YAMCA
    depends on BBQUE_SCHEDPOL_YAMCA
    bool "YaMCA"
  config BBQUE_SCHEDPOL_DEFAULT_RANDOM
    depends on BBQUE_SCHEDPOL_RANDOM
    bool "Random"
  config BBQUE_SCHEDPOL_DEFAULT_CLOVES
    depends on BBQUE_SCHEDPOL_CLOVES
    bool "Cloves"
  config BBQUE_SCHEDPOL_DEFAULT_TEMPURA
    depends on BBQUE_SCHEDPOL_TEMPURA
    bool "Tempura"
  config BBQUE_SCHEDPOL_DEFAULT_SCALLOP
    bool "Scallop"
    select BBQUE_SCHEDPOL_SCALLOP
  config BBQUE_SCHEDPOL_DEFAULT_GRIDBALANCE
    bool "GridBalance"
    select BBQUE_SCHEDPOL_GRIDBALANCE
  config BBQUE_SCHEDPOL_DEFAULT_PERDETEMP
    depends on BBQUE_SCHEDPOL_PERDETEMP
    bool "Perdetemp"
##NP

endchoice

source barbeque/plugins/schedpol/yams/Kconfig
#source barbeque/plugins/schedpol/yamca/Kconfig
source barbeque/plugins/schedpol/random/Kconfig
source barbeque/plugins/schedpol/cloves/Kconfig
source barbeque/plugins/schedpol/tempura/Kconfig
source barbeque/plugins/schedpol/scallop/Kconfig
source barbeque/plugins/schedpol/gridbalance/Kconfig
source barbeque/plugins/schedpol/perdetemp/Kconfig
