
choice
  depends on BBQUE_PIL_LOADER
  prompt "Default platform loader"
  default BBQUE_PIL_LOADER_DEFAULT_RXML
  config BBQUE_PIL_LOADER_DEFAULT_RXML
    bool "RXML"
    select BBQUE_PIL_LOADER_RXML
##NP

endchoice

source barbeque/plugins/ploader/rxml/Kconfig
